<!DOCTYPE html>
<html lang="en">
{{template "head"}}
<!-- end::Body -->

<body class="m-page--fluid m--skin- m-content--skin-light2 m-header--fixed m-header--fixed-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <!-- begin:: Page -->
    <div class="m-grid m-grid--hor m-grid--root m-page">
        {{template "header"}}
        <!-- begin::Body -->
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
            {{template "leftmenu" .}}
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <!-- BEGIN: Subheader -->
                <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <!-- <h3 class="m-subheader__title ">
									标题
								</h3> -->
                        </div>
                        {{template "alert" .}}
                    </div>
                </div>
                <!-- END: Subheader -->
                <div class="m-content">
                    <div class="m-portlet m-portlet--mobile">
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                        兑换券管理
                                    </h3>
                                </div>
                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <!--begin: Search Form -->
                            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                                <div class="row align-items-center">
                                    <div class="col-xl-8 order-2 order-xl-1">
                                        <div class="form-group m-form__group row align-items-center">
                                            <div class="col-md-4">
                                                <div class="m-input-icon m-input-icon--left">
                                                    <input type="text" class="form-control m-input m-input--solid" placeholder="搜索..." id="generalSearch">
                                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span>
                                                            <i class="la la-search"></i>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                                        <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" data-toggle="modal" data-target="#AddEdit">
                                            <span>
                                                <i class="la la-user"></i>
                                                <span onclick="add()">
                                                    给单个用户发放兑换券
                                                </span>
                                            </span>
                                        </a>
                                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                                        <a href="#" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill" data-toggle="modal" data-target="#Batch">
                                            <span>
                                                <i class="la la-user"></i>
                                                <span>
                                                    按地区发放兑换券
                                                </span>
                                            </span>
                                        </a>
                                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                                    </div>
                                </div>
                            </div>
                            <!--end: Search Form -->
                            <!--begin: Datatable -->
                            <table class="m-datatable" id="html_table" width="100%">
                                <thead>
                                    <tr>
                                        <th title="id">
                                            ID
                                        </th>
                                        <th title="content">
                                            所属店铺
                                        </th>
                                        <th title="content">
                                            所属用户
                                        </th>
                                        <th title="content">
                                            状态
                                        </th>
                                        <th title="content">
                                            兑换内容
                                        </th>
                                        <th title="sratrDay">
                                            生效时间
                                        </th>
                                        <th title="endDay">
                                            失效时间
                                        </th>
                                        <th title="vtypestr">
                                            生效状态
                                        </th>
                                        <th title="updatetime">
                                            最后编辑
                                        </th>
                                        <th title="delete">
                                            操作
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{range $v:= .list}}
                                    <tr>
                                        <td>
                                            {{$v.id}}
                                        </td>
                                        <td>
                                            {{$v.vendorname}}
                                        </td>
                                        <td>
                                            {{$v.name}}
                                        </td>
                                        <td>
                                            {{$v.statustr}}
                                        </td>
                                        <td>
                                            {{$v.content}}
                                        </td>
                                        <td>
                                            {{$v.startday}}
                                        </td>
                                        <td>
                                            {{$v.endday}}
                                        </td>
                                        <td>
                                            {{if eq $v.vtypeint "1"}}
                                            <span class="m--font-warning">{{$v.vtypestr}}</span>
                                            {{else if eq $v.vtypeint "2"}}
                                            <span class="m--font-danger">{{$v.vtypestr}}</span>
                                            {{else}}
                                            <span class="m--font-success">{{$v.vtypestr}}</span>
                                            {{end}}
                                        </td>
                                        <td>
                                            {{$v.updatetime}}
                                        </td>
                                        <td>
                                            <button onclick="edit('{{$v.id}}','{{$v.content}}')" type="button" id="delbtn" class="btn btn-danger" data-toggle="modal"
                                                data-target="#base" {{if ne $v.status "0"}}disabled="disabled" {{end}}>
                                                使用
                                            </button>
                                        </td>
                                    </tr>
                                    {{end}}
                                </tbody>
                            </table>
                            <!--end: Datatable -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end:: Body -->
        {{template "footer"}} {{template "modalBase"}} {{template "modalHandelVoucher" .}} {{template "modalHandelBatchVoucher"}}
    </div>
    <!-- end:: Page -->
    {{template "quicksidebar"}}
    <!-- begin::Scroll Top -->
    <div class="m-scroll-top m-scroll-top--skin-top" data-toggle="m-scroll-top" data-scroll-offset="500" data-scroll-speed="300">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
    {{template "quicknav"}}
    <!--begin::Base Scripts -->
    <script src="assets/vendors/base/vendors.bundle.js" type="text/javascript"></script>
    <script src="assets/demo/default/base/scripts.bundle.js" type="text/javascript"></script>
    <!--end::Base Scripts -->
    <!--begin::Page Resources -->
    <script src="assets/app/js/sys/menu.js" type="text/javascript"></script>
    <script src="assets/app/js/store.min.js" type="text/javascript"></script>
    <script src="assets/app/js/common.js" type="text/javascript"></script>
    <script src="assets/app/js/bootstrap-datepicker.Zh-cn.js" type="text/javascript"></script>
    <!--end::Page Resources -->
    <script type="text/javascript">
        $(document).ready(function () {
            showProv()
            $("#deleteit").click(function () {
                $("#base").removeClass("show")
                $(".modal-backdrop").removeClass("show")
            })
            edit = function (id, name) {
                $("#ModalTitle").text("使用兑换券")
                $("#modalContent").text("一旦使用，不可撤销，你确定要使用 兑换券 - " + name + "  吗?")
                $("#deleteit").attr("href", "/editvoucher?id=" + id)
            }
            add = function () {
                $("#ModalAddMenuTitle").text("新增记录")
                $("#handelAction").attr("action", "/addvoucher")
                $("#name").attr("value", "")
                $("#leader").attr("value", "")
                $("#leaderphone").attr("value", "")
            }
            $('#rangedate').datepicker({
                todayHighlight: true,
                autoclose: true,
                clearBtn: true,
                daysOfWeekHighlighted: [0, 6],
                weekStart: 1,
                format: "yyyy-mm-dd",
                toggleActive: true,
                language:"zh-CN", 
                templates: {
                    leftArrow: '<i class="la la-angle-left"></i>',
                    rightArrow: '<i class="la la-angle-right"></i>'
                }
            })
        })
    </script>
    <script src="assets/app/js/address/city.js" type="text/javascript"></script>
    <script src="assets/app/js/address/method_noCountry.js" type="text/javascript"></script>
</body>
<!-- end::Body -->

</html>